<!DOCTYPE html>
<html>
<head>
    <title content="text/html; charset=UTF-8">Title</title>
    <meta charset="UTF-8">
</head>
<body>
    <div>Hello, User</div>
    <a href="/main">Main page</a>
</body>
</html>
